/* CSS file */
.text-slide {
  //   white-space: nowrap;
  //   animation: slideText 5s linear infinite;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@keyframes slideText {
  0% {
    transform: translateX(0); /* Start from initial position */
  }
  100% {
    transform: translateX(-100%); /* Translate text to the left completely */
  }
}
